h1 {
    font-size: 50px;
    background-color: gray;
    border-color: yellow;
    border-width: 2px;
    border-style: dashed;
}

li {
    color: grey;
}

body {
    background-image: url("https://imagens.ebc.com.br/1KSajALOzbZTDsv0uGXQ1zFudkE=/1170x700/smart/https://agenciabrasil.ebc.com.br/sites/default/files/thumbnails/image/2020-12-22t134459z_1_lynxmpegbl0x2_rtroptp_4_china-foguete-inaugural.jpg?itok=RiIuhgUB");
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow_text {
    color: yellow;
    font-size: 40px;
}

.big-text {
    font-size: 40px;
}

#europa-text {
    font-size: 30px;
    color: blue;
}