/*tags*/
body {
  margin: 0%;
}

h1 {
  margin: 0;
  margin-right: 10px;
  margin-left: 0;
  padding: 0;
}

/*class*/
.top-container {
  background-color: blue;
  width: 200px;
  height: 200px;
  border: solid 20px;
  padding: 20px;
}

.middle-container {
  background-color: blue;
  width: 200px;
  height: 200px;
  border: solid 20px;
  padding: 20px;
  margin-left: 280px;

}

.bottom-container {
  background-color: blue;
  width: 200px;
  height: 200px;
  border: solid 20px;
  padding: 20px;
  margin-left: 560px;
}



/*ID*/