* {}

.container {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: grey;
}

.vermelho {
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  left: 200px;

}

.azul {
  height: 100px;
  width: 100px;
  background-color: blue;

}

.laranja {
  height: 100px;
  width: 100px;
  background-color: orange;


}